# Node modules
node_modules/

# Build output
build/
dist/
out/

# Logs and cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.cache/

# IDE-specific files
.idea/
.vscode/
*.iml

# OS-specific files
.DS_Store
Thumbs.db

.env