@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lazydog';
    src: url(/fonts/Lazydog-kids.ttf);
    font-style: normal;
}
@font-face {
    font-family: 'DigitalClockFont';
    src: url(/fonts/DigitalClockFont.ttf);
    font-style: normal;
}

body {
    font-family: 'Lazydog';
    font-size: 18px;
    background-color: #FBFDFF;
    transition: background-color 0.3s, color 0.3s;
}

body.dark {
    background-color: #4B6D94;
}


/* Editing a bit of the Calendar */
.react-calendar__navigation__label__labelText,
.react-calendar__year-view
{
    font-family: 'Lazydog';
}

.react-calendar__month-view {
    font-size: 16px;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
    display: none;
}